.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.block_button {
  background-color: #f5d142;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  color: #fff; }

.block_button:hover {
  color: #fff;
  text-decoration: none; }

/* .reserve_table {
    margin-top: 30px;
}
.reserve_table_col {
    border: 1px solid #AAA;
    padding-left: 0;
    padding-right: 0;
} */
.reserve_content {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.reserve_header {
  border-bottom: 1px solid #fef; }

.modal-header {
  background-color: #512DA8;
  color: #fff; }

.modal-header .close {
  color: #fff; }

.modal-body {
  background-color: #D1C4E9; }

.smoking {
  padding: .2rem .75rem;
  margin-left: -4px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset; }

.non_smoking {
  padding: .2rem .75rem;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset; }

.heading {
  background-color: #f5d142;
  color: #fff;
  padding: 10px 0 10px 35px;
  border-bottom: 1px solid #AAA; }

.body_table {
  padding: 10px 0 20px 20px; }

.row-center {
  margin-top: 20px;
  margin-bottom: 20px; }

.row-center input {
  padding-left: 10px; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
